<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Novo Sintetico
</h3>
<div class="card card-default">
   <div class="card-body">
<%= render 'form', sintetico: @sintetico %>

<%= link_to 'Back', sinteticos_path %>
   </div>
</div>