<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Ativo
</h3>
<div class="card card-default">
   <div class="card-body">

<%= render 'form', ano: @ano %>

<%= link_to 'Show', @ano %> |
<%= link_to 'Back', anos_path %>
