<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Novo Ano
</h3>
<div class="card card-default">
   <div class="card-body">
<%= render 'form', ano: @ano %>

<%= link_to 'Back', anos_path %>
   </div>
</div>