<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Corretora
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', corretora: @corretora %>
        
        <%= link_to 'Show', @corretora %> |
        <%= link_to 'Back', corretoras_path %>
   </div>
</div>