<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Year
</h3>
<div class="card card-default">
   <div class="card-body">

<%= render 'form', year: @year %>

<%= link_to 'Back', admin_years_path %>
   </div>
</div>