<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Atividade
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', atividade: @atividade %>
        
        <%= link_to 'Show', @atividade %> |
        <%= link_to 'Back', atividades_path %>
   </div>
</div>