<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Nova Atividade
</h3>
<div class="card card-default">
   <div class="card-body">
        <%= render 'form', atividade: @atividade %>
        
        <%= link_to 'Back', atividades_path %>
   </div>
</div>