<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Nova Carteira
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', carteira: @carteira %>
        
        <%= link_to 'Back', carteiras_path %>
   </div>
</div>