<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Minha Holding (Classes e Sistema)
</h3>


<div class="col-lg-4">
  <div class="card mb-3 border-success">
     <div class="card-header">Ativo Moves</div>
     <div class="card-body">
         <ul>
            <%= link_to ativo_moves_path, class: '' do %>
                 <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Movimentações de Ativos</button>
            <% end %>
        </ul>
        <ul>
            <%= link_to new_ativo_move_path, class: '' do %>
                 <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar nova movimentação</button>
            <% end %>
        </ul>
     </div>
  </div>
</div>

<div class="col-lg-4">
    
</div>
<div class="col-lg-4">
    
</div>

<div class="col-lg-4">
  <div class="card mb-3 border-success">
     <div class="card-header">Deriva Moves</div>
     <div class="card-body">
         <ul>
            <%= link_to deriva_moves_path, class: '' do %>
                 <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Movimentações de Derivativos</button>
            <% end %>
        </ul>
        <ul>
            <%= link_to new_deriva_move_path, class: '' do %>
                 <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar nova movimentação</button>
            <% end %>
        </ul>
     </div>
  </div>
</div>