<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar 
</h3>
<div class="card card-default">
   <div class="card-body">

<%= render 'form', portfolio: @portfolio %>

<%= link_to 'Back', admin_portfolios_path %>
   </div>
</div>