<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Novo 
</h3>
<div class="card card-default">
   <div class="card-body">
<%= render 'form', portfolio: @portfolio %>

<%= link_to 'Back', admin_portfolios_path %>
   </div>
</div>