<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Movimentação (derivativos)
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form_edit_put', deriva_move: @deriva_move %>
        
        <%= link_to 'Show', @deriva_move %> |
        <%= link_to 'Back', deriva_moves_path %>
   </div>
</div>