<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Nova PUT
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form_put', deriva_move: @deriva_move %>
        
        <%= link_to 'Back', deriva_moves_path %>
   </div>
</div>