<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Novo Derivativo
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', derivativo: @derivativo %>
        
        <%= link_to 'Back', derivativos_path %>
   </div>
</div>