<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Nova movimentação de Ativos
</h3>
<div class="card card-default">
   <div class="card-body">
        <%= render 'form', ativo_move: @ativo_move %>
        
        <%= link_to 'Back', ativo_moves_path %>
   </div>
</div>