<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Carteira
</h3>
<div class="card card-default">
   <div class="card-body">
        <%= render 'form', carteira: @carteira %>
        
        <%= link_to 'Show', @carteira %> |
        <%= link_to 'Back', carteiras_path %>
   </div>
</div>