<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar investimento
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', investimento: @investimento %>
        
        <%= link_to 'Show', @investimento %> |
        <%= link_to 'Back', investimentos_path %>

   </div>
</div>