<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Nova Garantia
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form_garantia', investimento: @investimento %>
        
        <%= link_to 'Back', investimentos_path %>

   </div>
</div>