<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Ativo
</h3>
<div class="card card-default">
   <div class="card-body">

        <%= render 'form', ativo: @ativo %>
        
        <%= link_to 'Show', @ativo %> |
        <%= link_to 'Back', ativos_path %>
   </div>
</div>