<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-plus-circle text-success"></em> &nbsp; Novo Ativo
</h3>
<div class="card card-default">
   <div class="card-body">
        <%= render 'form', ativo: @ativo %>
        
        <%= link_to 'Back', ativos_path %>
   </div>
</div>