<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-pencil text-success"></em> &nbsp; Editar Proventos
</h3>
<div class="card card-default">
   <div class="card-body">
<%= render 'form', provento: @provento %>

<%= link_to 'Show', @provento %> |
<%= link_to 'Back', proventos_path %>
   </div>
</div>